<!DOCTYPE html>
<html lang="en">

<head>
    <title>AID MD</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/style/style.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>

    <div id="header"
        style="display:flex; align-items: start; justify-content: start;background-color: #000; background-size: cover;">
        <div class="header-group" style="box-sizing: border-box;"></div>
        <a class="logo" style="color: aliceblue;padding: 10px;text-decoration: none;" href="#aid">AID<b>MD</b></a>
        <div class="container" style="display: flex;
    justify-content: flex-end;">
            <nav class="nav nav-pills mb-3 justify-content-end">
                <a class="nav-link type-pr-delta link-underline-animated-sm font-bold" href="#about"
                    style="color: white; margin-right: 10px;padding: 10px;">Home</a>
                <a class="nav-link type-pr-delta link-underline-animated-sm font-bold" href="#whyus"
                    style="color: white;margin-right: 10px;padding: 10px;">Why Us</a>
                <a class="nav-link type-pr-delta link-underline-animated-sm font-bold" href="#Works"
                    style="color: white;margin-right: 10px;padding: 10px;">About</a>
                <a class="nav-link type-pr-delta link-underline-animated-sm font-bold" href="/bot"
                    style="color: white;margin-right: 10px;padding: 10px;">Chatbot</a>
                <a class="nav-link type-pr-delta link-underline-animated-sm font-bold" href="#chatbot"
                    style="color: white;margin-right: 10px;padding: 10px;">Services</a>
                <nav class="navbar-menu-2 w-nav-menu">
                    <div class="div-block-689">
                        <a href="/login" class="main-button w-button btn btn-primary animated-button">Login</a>

                    </div>
                </nav>
            </nav>
        </div>
    </div>
    <div class="above-the-fold">
        <div class="frame-142502">
            <div class="title-section">
                <div class="content">
                    <div class="logos-2">

                        <div id=about class="frame-142495">
                            <div class="main-theadline">
                                Welcome to Aid Md!
                            </div>
                            <div class="hero-subheadline-wrap">
                                <div class="body-large---lp--center"> <br>"Empower yourself with limitless access to
                                    medical
                                    insights and blood camp details, all at your fingertips."</br>
                                    <br>Get Expert Advice on Health Issues, Medical Queries and Find Nearby Blood
                                    Donation
                                    Events.</br>
                                    Empowering you with World of Health information from every corner
                                    of the world.
                                    <br> Join us now</br>

                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="/login" class="button-2 w-button">Try for free</a>
                </div>
            </div>
        </div>
        <div class="above-the-fold">
            <div class="frame-142502">
                <div id="whyus" class="title-section">
                    <div class="content">
                        <div class="frame-142495">
                            <div class="main-theadline">
                                Empowering Your Health Journey with Our Aid Md</div>
                            <div class="hero-subheadline-wrap">
                                <div class="body-large---lp--center">
                                    At Aid Md, we believe that access to accurate and reliable medical
                                    information is essential for making informed decisions about your health.
                                </div>
                            </div>
                        </div>
                        <div class="section-title">
                            <div class="h3-2">Expert Guidance</div>
                            <div class="body-large---lp">Our Medical Chatbot is powered by advanced AI technology,
                                developed
                                in collaboration with medical experts. </div>
                        </div>
                    </div>
                    <div class="_2-columns mobile-color">
                        <div class="column-2 mobile-layout">
                            <div class="image-wrapper">
                                <div class="frame-142504">
                                    <video playsinline class="auth-sidebar-video" autoplay loop muted
                                        src="../static/images/Health.mp4" loading="lazy" height="492"
                                        class="logo-horizontal_w-2">Your browser doesn't support this video
                                        format</video>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section-title">
                        <div class="h3-2">Instant Responses</div>
                        <div class="body-large---lp">Our chatbot provides instant responses
                            to your medical queries, allowing you to get the information you need, whenever you need it,
                            without any delays.
                        </div>
                    </div>
                    <div class="section-title">
                        <div class="h3-2">24/7 Availability</div>
                        <div class="body-large---lp">Medical queries can arise at any time, day or night.
                            <br> With our Medical
                            Chatbot, you have round-the-clock access to reliable health information, ensuring peace of
                            mind
                            and timely assistance.</br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="Works" class="how-it-works">
        <div class="container-2">
            <div class="section-title">
                <div class="h3-2">How it works</div>
                <div class="body-large---lp">Our Medical Chatbot is your ultimate personal health companion, designed to
                    provide you with accurate medical information and blood camp details at your convenience.
                    <br> Here's how it
                    works</br>
                </div>
            </div>
            <div class="columns">
                <div class="card-2">
                    <div class="info">
                        <div class="icons">
                            <img src="../static/images/html.png" loading="lazy" width="72" height="72"
                                class="vectors-wrapper-4">
                        </div>
                        <div class="frame-142506">
                            <div class=" desktop-d---h3-2">Html</div>
                            <div class="body-copy-lp-2">Our Medical Chatbot begins with HTML, lays the groundwork
                                for the entire webpage,defining the layout, headings, paragraphs and buttons</div>
                        </div>
                    </div>
                </div>
                <div class="card-2">
                    <div class="info">
                        <div class="icons">
                            <img src="../static/images/css.png" loading="lazy" width="72" height="72"
                                class="vectors-wrapper-4">
                        </div>
                        <div class="frame-142506">
                            <div class=" desktop-d---h3-2">CSS</div>
                            <div class="body-copy-lp-2">we utilize CSS to give our website a
                                stunning look. CSS is responsible for beautifying the elements created by HTML</div>
                        </div>
                    </div>
                </div>
                <div class="card-2">
                    <div class="info">
                        <div class="icons">
                            <img src="../static/images/java.png" loading="lazy" width="72" height="72"
                                class="vectors-wrapper-4">
                        </div>
                        <div class="frame-142506">
                            <div class=" desktop-d---h3-2">JavaScript</div>
                            <div class="body-copy-lp-2">We implement JavaScript to create dynamic chat features,
                                enabling
                                real-time responses to user queries</div>
                        </div>
                    </div>
                </div>
                <div class="card-2">
                    <div class="info">
                        <div class="icons">
                            <img src="../static/images/python.png" loading="lazy" width="72" height="72"
                                class="vectors-wrapper-4">
                        </div>
                        <div class="frame-142506">
                            <div class=" desktop-d---h3-2">Python</div>
                            <div class="body-copy-lp-2">Python handles the complex Natural Language Processing tasks,
                                comprehending user questions, and generating relevant responses</div>
                        </div>
                    </div>
                </div>

            </div>
            <a href="/login" class="button-2 w-button">Try for free</a>

            <div class="core-features">
                <div class="container-2">
                    <div class="h3-2">Core features</div>
                    <div class="small-columns">
                        <div class="column-3">
                            <div class="video-wrapper">
                                <video width="568" height="420" playsinline class="auth-sidebar-video" autoplay loop
                                    muted src="../static/images/chatbot.mp4"> Your browser does not support the
                                    video tag.</video>

                            </div>
                        </div>
                        <div class="frame-142503">
                            <div class="intro">
                                <div class="desktop-d---h3">Tokenization </div>
                                <div class="body-copy-lp">
                                    Tokenization forms the foundation of our chatbot's language
                                    comprehension. It involves breaking down user input into individual tokens or words.
                                    By
                                    segmenting sentences into words, our chatbot gains a better understanding of user
                                    queries. This critical NLP technique paves the way for accurate processing and
                                    relevant
                                    responses.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="small-columns-right"><img src="#.gif" loading="lazy" width="568" height="420"
                            class="image-mobile">
                        <div class="frame-142503">
                            <div class="intro">
                                <div class="desktop-d---h3">Lemmatization & Stemming</div>
                                <div class="body-copy-lp">
                                    To enhance the efficiency of language
                                    understanding, our
                                    chatbot
                                    employs lemmatization. This process reduces words to their base or root
                                    form,
                                    eliminating inflections and variations. Similar to lemmatization,
                                    Stemming involves
                                    removing
                                    prefixes or suffixes from words to obtain their root form.
                                </div>
                            </div>
                        </div>
                        <div class="column-3">
                            <div class="video-wrapper">
                                <video width="568" height="420" playsinline class="auth-sidebar-video" autoplay loop
                                    muted src="../static/images/Ai.mp4"> Your browser does not support the video
                                    tag.</video>

                            </div>
                        </div>
                    </div>
                    <div class=" small-columns">
                        <div class="column-3">
                            <div class="video-wrapper"><video width="568" height="420" playsinline
                                    class="auth-sidebar-video" autoplay loop muted
                                    src="../static/images/new algorithm.mp4">
                                    Your browser does not support the video
                                    tag.</video>
                            </div>
                        </div>
                        <div class="frame-142503">
                            <div class="intro">
                                <div class="desktop-d---h3"> Bag of Words (BoW)</div>
                                <div class="body-copy-lp"> Bag of Words is a fundamental technique that enables our
                                    chatbot
                                    to understand the context of user queries. It creates a <b>"bag"</b> of all unique
                                    words
                                    from
                                    the user's input, disregarding grammar and word order. This statistical approach
                                    allows
                                    our chatbot to focus on word occurrence, aiding in context-based responses.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-cta" style="background-color: #000;">
        <div class="title-section-3">
            <div id="chatbot" class="content">
                <div class="frame-142495">
                    <div class="text-5">Create your account today and ask Medical queries for free!</div><a href="/bot"
                        class="button-1 w-button">Chatbot</a>
                </div>
            </div>
        </div>

    </div>

</body>

</html>